{% extends 'layout.twig' %}
{% block content %}
<div id="about">
    <h2>About</h2>
    <img src="images/face.png" id="aboutPhoto" alt="face">
    <p>
        Hi, I am Hanley Chan and this is my website where I share some of my favorite work.  Thank you for visiting my website.
    </p>

    <p id="github"><a href="http://www.github.com/hanleychan">Check me out on GitHub</a></p>
</div>
{% endblock %}
