{% extends 'layout.twig' %}
{% block content %}
<div id="about">
    <h2>About</h2>
    <img src="images/face.png" id="aboutPhoto" alt="face">
    <p>
        Hi there,<br><br>
        My name is Hanley Chan and this is my website where I share some of my favorite work.  I am a PHP developer with experience building dynamic database driven web applications.  When I am not coding I enjoy watching movies, playing video games, playing basketball, and more.
    </p>

    <p id="github"><a href="http://www.github.com/hanleychan">Check me out on GitHub</a></p>
</div>
{% endblock %}
